.category-container {
  padding-top: var(--space-m);
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  animation: 0.4s ease-in-out 0s 1 slideInFromBottom;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(220px, auto));
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}

.category-container-skeleton {
  padding-top: var(--space-m);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.category-grid-skeleton {
  display: grid;

  grid-template-columns: repeat(3, minmax(220px, auto));
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}

.card-four {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  cursor: pointer;
}

.skeleton-inline {
  height: 20px;
}

.skeleton-img {
  height: 180px;
  width: 320px;
  max-width: 100%;
}

h1.skeleton {
  width: 240px;
}

/* @media (max-width: 1000px) {
  .category-grid-skeleton {
    grid-template-columns: repeat(2, minmax(220px, auto));
  }
} */

@media (max-width: 780px) {
  .category-grid {
    grid-template-columns: repeat(2, minmax(220px, auto));
    column-gap: var(--space-s);
  }

  .card-four {
    max-width: none;
  }
}

@media (max-width: 600px) {
  .category-container {
    margin-left: var(--space-xs);
    margin-right: var(--space-xs);
  }
}

@media (max-width: 480px) {
  .category-grid {
    grid-template-columns: repeat(1, minmax(220px, auto));
    column-gap: var(--space-s);
  }

  .category-container-skeleton {
    width: 100%;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  .card-four {
    width: 100%;
  }

  .skeleton-img {
    width: 100%;
  }
}
