.home-container {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-m);
  max-width: var(--max-container-width);
  width: 100%;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  animation: 0.4s ease-in-out 0s 1 slideInFromBottom;
}

.home-left {
  width: 68%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.main-headline {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}

.main-headline-small {
  display: none;
}

.secondary-headline-img {
  cursor: pointer;
  position: relative;
}

/* .secondary-img-content {
  display: flex;
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  display: flex;
  gap: var(--space-xs);
} */

.card-one-container:last-child > .spacing-tertiary-headlines {
  display: none;
}

.card-two-container:last-child > .spacing-secondary-headlines {
  display: none;
}

.img-content {
  position: absolute;
  bottom: var(--space-m);
  left: var(--space-m);
  right: var(--space-m);
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}

.other-news-left {
  display: flex;
  flex-direction: column;
}

.home-right {
  width: 30%;
}

.headline-title {
  color: var(--yellow-200);
}

.headline-subtitle {
  color: var(--yellow-200);
  opacity: 0.84;
}

/* skeleton styling */

.home-container.skel {
  animation: 0.2s ease-in-out 0s 1 fadeIn;
}

.sec-head-skel {
  height: 240px;
}

.skeleton-card-one {
  width: 100%;
}

.skeleton-c1-left {
  width: 100%;
}

.home-skeleton-title {
  width: 100%;
}

.home-skeleton-cat {
  width: 20%;
}

.height-2 {
  height: 40px;
}

@media (max-width: 1080px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
    min-width: 320px;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  .home-left {
    width: 100%;
    min-width: var(--min-container-width);
    max-width: 732px;
  }

  .home-right {
    width: 100%;
    min-width: var(--min-container-width);
    max-width: 732px;
    padding-top: var(--space-m);
  }

  .main-headline {
    min-height: 180px;
    gap: var(--space-xs);
  }

  .headline-h1 {
    font-size: 2rem;
    position: static;
    color: var(--grey-900);
  }

  .headline-title {
    color: var(--yellow-200);
  }

  .headline-subtitle {
    display: block;
  }
}

@media (max-width: 600px) {
  .main-headline-small {
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
  }

  .headline-title {
    font-size: 22px;
  }

  .main-headline {
    display: none;
  }
}
