.home-container {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-m);
  max-width: 1440px;
  width: 100%;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  animation: 0.4s ease-in-out 0s 1 slideInFromBottom;
}

.home-container-skeleton {
  display: flex;
  justify-content: space-between;
  padding-top: var(--space-m);
  max-width: 1440px;
  width: 100%;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  animation: 0.2s ease-in-out 0s 1 fadeIn;
}

.home-left {
  width: 68%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.main-headline {
  position: relative;
  width: 100%;
  /* min-height: 374px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}

.main-headline-small {
  display: none;
}

.secondary-headline-img {
  cursor: pointer;
}

/* .spacing-secondary-headlines:last-child {
  display: none;
}

.spacing-tertiary-headlines:last-child {
  display: none;
} */

/* .home-right:last-child {
  background-color: red;
} */
.card-one-container:last-child > .spacing-tertiary-headlines {
  display: none;
}

.card-two-container:last-child > .spacing-secondary-headlines {
  display: none;
}

.img-content {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
}
/* 
.headline-h1 {
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
} */

.other-news-left {
  display: flex;
  flex-direction: column;
  /* gap: var(--space-m); */
}

.home-right {
  width: 30%;
}

.headline-title {
  color: var(--yellow-200);
}

.headline-subtitle {
  /* display: none; */
  color: var(--yellow-200);
  opacity: 0.84;
}

.sec-head-skel {
  height: 240px;
}

.skeleton-card-one {
  width: 100%;
}

.skeleton-c1-left {
  width: 100%;
}

.home-skeleton-title {
  width: 100%;
}

.home-skeleton-cat {
  width: 20%;
}

.height-2 {
  height: 40px;
}

@media (max-width: 1080px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    gap: var(--space-m);
    min-width: 320px;
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }

  .home-left {
    width: 100%;
    min-width: 320px;
    max-width: 732px;
  }
  .home-right {
    width: 100%;
    min-width: 320px;
    max-width: 732px;
    padding-top: var(--space-m);
  }
  .main-headline {
    min-height: 180px;
    gap: var(--space-xs);
  }

  .headline-h1 {
    font-size: 2rem;

    position: static;
    color: var(--grey-900);
  }

  .headline-title {
    color: var(--yellow-200);
  }

  .headline-subtitle {
    display: block;
  }
}

@media (max-width: 600px) {
  .main-headline-small {
    display: block;
    position: relative;
    width: 100%;
    /* min-height: 374px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
  }

  .headline-title {
    font-size: 22px;
  }
  .main-headline {
    display: none;
  }
}
