.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.nav-bottom {
  display: flex;
  gap: var(--space-s);
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 1440px;
}

.nav-center {
  display: flex;
  gap: var(--space-m);
}

.nav-optn {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--grey-700);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}

.nav-optn:visited {
  color: var(--grey-700);
}

.nav-optn:hover {
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.auth-div {
  display: flex;
  gap: var(--space-s);
}

.nav-mid-line {
  border-bottom: 2px solid var(--grey-900);
}

.nav-bottom-line{
  border: none;
  border-bottom: 1px solid var(--grey-400);
  /* border-top: 4px dashed var(--grey-400); */
  
  /* size: 2px;
  width: 1px; */
}

@media (max-width: 1080px) {
  .nav {
    min-width: 320px;
    max-width: none;
  }

  .nav-left {
    display: none;
  }
}
