.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-l);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
  border-top: 1px solid var(--grey-400);
  margin-top: var(--space-xl);
}

.footer-inner-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-right {
  width: 44%;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.link-text-hover {
  color: var(--grey-600);
  transition: all 0.4s ease-in-out;
}

@media (max-width: 1080px) {
  .footer {
    min-width: 320px;
    width: 100%;
    max-width: none;
  }
  .footer-inner-container {
    min-width: 320px;
    max-width: none;
    flex-direction: column;
    gap: var(--space-m);
  }

  .footer-left {
    max-width: 64px;
  }

  .footer-right {
    width: 100%;
  }

  .copyright {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
}

/* @keyframes moveLeftRight {
  0% {
    transform: translate(0, 0);
  }

  0% {
    transform: translate(-4px, 0);
  }
  0% {
    transform: translate(0, 0);
  }
} */
