.comment-content {
  font-size: 1.125rem;
  font-weight: 500;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.user-and-date {
  display: flex;
  gap: var(--space-xxs);
  align-items: flex-end;
}

.comment-date {
  font-size: 0.875rem;
  color: var(--grey-400);
}

.comment-username {
  font-size: 1rem;
  color: var(--grey-800);
}

.comment-textarea {
  width: 100%;
  border: none;
  background-color: var(--yellow-200);
  color: var(--grey-800);
  font-size: 1rem;

  resize: none;
}

.comment-textarea:focus {
  border: none;
  outline: none;
}

.comment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-xs);
  background-color: var(--yellow-200);
  padding: 16px;
  view-transition-name: comment-form;
}

::view-transition-new(comment-form) {
  /* animation-duration: 2s; */
  /* opacity: 1; */
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both no-fade-in;
  /* animation: 90ms cubic-bezier(0.4, 0, 1, 1) both slide-out; */
}

.form-btns {
  display: flex;
  gap: var(--space-s);
  view-transition-name: form-btns;
}

@keyframes no-fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(2);
  }
}

#dots-delete {
  cursor: pointer;
}

.delete-popover {
  position: absolute;
  width: 220px;
  background-color: var(--yellow-100);
  border: 1px solid var(--grey-400);
  padding-left: var(--space-xxs);
  padding-right: var(--space-xxs);

  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);

  margin: 4px;
}

.delete-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  color: var(--grey-800);
  border: none;
  background-color: var(--yellow-100);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  height: 28px;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.delete-btn:hover {
  background-color: var(--yellow-100);
  transition: all 0.4s ease-in-out;
}

.delete-popover:disabled {
  color: var(--grey-500);
  /* background-color: var(--yellow-200); */
}

.lottie-spinner {
  position: absolute;
}

.transition-enter {
  opacity: 0.01;
  transform: translate(0, -10px);
  /* transition: 700ms ease-out; */
}

.transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 400ms ease-in-out;
}

.transition-exit {
  opacity: 1;
  /* transform: translate(0, 0); */
  /* transition: 700ms ease-out; */
}

.transition-exit-active {
  opacity: 0;
  transition: all 400ms ease-in-out;
}

.delete-popover-enter {
  opacity: 0;
}
.delete-popover-enter-active {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.delete-popover-exit {
  opacity: 1;
}
.delete-popover-exit-active {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.form-btns-enter {
  opacity: 0;
}
.form-btns-enter-active {
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.form-btns-exit {
  opacity: 1;
}
.form-btns-exit-active {
  opacity: 0;
  transition: all 200ms ease-in-out;
}
