.signup-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  view-transition-name: signup-container;
}

::view-transition-new(signup-container) {
  animation-duration: 3s;
}

.signup-form {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: var(--space-s); */
  justify-content: center;
  max-width: 360px;
}

.signup-right {
  width: 68%;
  height: 100%;
  background-color: var(--grey-900);
}

.signin-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
  view-transition-name: signin-container;
}

::view-transition-new(signin-container) {
  animation-duration: 2s;
}

/* ::view-transition-old(signin-container) {
  animation-duration: 2s;
} */

.signin-form {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: var(--space-s); */
  justify-content: center;
  max-width: 360px;
}

.error-li {
  font-size: 0.875rem;
  color: var(--red-300);

  /* padding-top: var(--space-xs); */
  padding-bottom: var(--space-xxs);
}

.errors-ul {
  list-style-type: none;
  margin: 0;
  padding: var(--space-xs);

  /* padding-right: 0; */
  background-color: var(--red-100);
  /* border-radius: var(--border-xxs); */
}

.error-li:last-child {
  padding-bottom: 0;
}

.error strong {
  color: var(--red-300);
}
